* {
    font-family: arial;
}

body {
    margin: 0;
}
nav {
    padding: 20px;
    font-size: 12px;
}
#left-nav {
    float: left;
}

#right-nav {
    float: right;
}

a {
    text-decoration: none;
    color: #444444;
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

#sign-in{
    background-color: blue;
    color: white;
    padding: 5px 12px;
}

img {
    max-width: 250px;
    margin-top: 200px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    text-align: center;
}

input {
    border-radius: 40px;
    border: 1px solid #bababa;
    padding: 15px;
    width: 500px;
    margin: 0px;
}

input:hover, input:focus{
    box-shadow: 0 0 5px #909090;
}

input:focus {
    outline:none;
}

#search-buttons {
    padding: 20px;
}

button {
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    cursor: pointer;
    padding: 13px 15px;
    color: #595959;
}

button:hover {
    border: 1px solid #bababa;
}

footer {
    background-color: #F0F0F0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

#left-footer {
    float: left;
}

#right-footer {
    float: right;
}